{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    {% block content %}
    <div>
      <div
        class="card mb-3"
        style="
          width: 500px;
          height: 300px;
          position: relative;
          display: inline-block;
          margin: 30px 150px 5px 5px;
        "
      >
        <h3 class="card-header">Game</h3>
        <div class="card-body">
          <div id="avatar">
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCHxKSivB6JLZ1SEMdxd1fAg" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnj1_belAxDUHHOLxA0FBoSV47diO5wcHi4xnKvArkk=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">
                  뜨뜨뜨뜨
                </button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCta_NRwnsUaew0t3VNxBNyg" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnjO05YPJOADtTrQdCImEBe6gIv96CYE9liYimNLNA=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">김재원</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UC2NFRq9s2neD_Ml0tPhNC2Q" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwngdItBeJzifilSfidCPWExEVX7p4cSmr9hceh9_RA=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">
                  우주하마
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card mb-3"
        style="
          width: 500px;
          height: 300px;
          position: relative;
          display: inline-block;
          margin: 5px 150px 5px 5px;
        "
      >
        <h3 class="card-header">Mukbang</h3>
        <div class="card-body">
          <div id="avatar">
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UC-Bsa2ivAGWq7bsSPrPGFVA" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwniWXMKo2rp8gnwibO9YL48TaaaJ_Cf-gWm3Mscw4g=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 15%">
                  입짧은햇님
                </button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCBIoXzDldCnpbM_7uyG0_Tg" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwngjiTCKvMKrMLOVw9n-NGwq1P8NM0zmZbyyM1Ot-g=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">
                  홍사운드
                </button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UC5XuQ-xiWAB6f-qu6gJMDBQ" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnjr60FdcE5dLUk-7wJGs4xvIbrneGfb1pv2XbbHWQ=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">흥삼</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card mb-3"
        style="
          width: 500px;
          height: 300px;
          position: relative;
          display: inline-block;
          margin: 5px 5px 5px 5px;
        "
      >
        <h3 class="card-header">Comedy</h3>
        <div class="card-body">
          <div id="avatar">
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UC2o_y872S6YvaO1K8EYnoxg" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnhvRiAhbgkQ-9DOm4mREK55ONpxE7Z7MW-HL3NJvj4=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">조재원</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UC9ZLv1m7QDLv991X1-p50AA" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwngDVK35W9bF1r69ZX_hwPr116__bkxlmBNRJK2F=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">보물섬</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCmzMtXrJgfCqA0rfhz8_P4A" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwniv1nSLqnk4HWSe4uuN8XvTuhr-xntv9Dz6oCVX_Q=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">웃소</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div
        class="card mb-3"
        style="
          width: 500px;
          height: 300px;
          position: relative;
          display: inline-block;
          margin: 50px 150px 5px 250px;
        "
      >
        <h3 class="card-header">Animal</h3>
        <div class="card-body">
          <div id="avatar">
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCee1MvXr6E8qC_d2WEYTU5g" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwniaa4TkmBckI2RP4obv8b9TvzrBPRqoXFXR9n1G-w=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">강형욱</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCij19II32Olbu8_vghmYNCA" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwniSxLSnNTQY3V8NBTuJ_ndFS2jYDh1wnEyY0nRv=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 20%">
                  슈앤트리
                </button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCOp66Vup07X0YziXaaxqs2A" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwng-4r6Mq9XzKbP2ytrO6HgugZ7OOqhh5--Onsk8oA=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">하하하</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card mb-3"
        style="width: 500px; height: 300px; position: relative; display: inline-block"
      >
        <h3 class="card-header">Beauty</h3>
        <div class="card-body">
          <div id="avatar">
            <div style="display: inline-block">
              <a href="https://www.youtube.com/user/daddoatv" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnizuje5CK0LTyVwdjo9vXH44rHRIPzqAW0ju9eCbQ=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">다또아</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/channel/UCuZu8NrpBG4WPXRi-hPBl-A" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnjFJwvYAQHYcziWr405dYN-l0rYPcQmFuv89bCkog=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">조효진</button>
              </a>
            </div>
            <div style="display: inline-block">
              <a href="https://www.youtube.com/user/Hines382" target="_blank">
                <img
                  id="img"
                  class="style-scope yt-img-shadow"
                  alt=""
                  height="136"
                  width="136"
                  src="//yt3.ggpht.com/ytc/AAUvwnheP9E83oRWZ4lheL-DL0gd_DAZuG-irpkd1DPRsA=s176-c-k-c0x00ffffff-no-rj-mo"
                  style="margin: 5px 5px 5px 5px; display: block"
                />
                <button class="btn btn-danger" style="position: relative; left: 25%">씬님</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </body>
</html>
